#pendingTable, #onlineTable, #permanentTable, #logsTable, #infoTable {
  border:             thin solid black;
  width:              100%;
}

#pendingTable, #permanentTable {
}

#container {
  width:              700px;
}

.token {
  width:              200px;
}

#permanentTable .token {
  width:              280px;
}

td.addLink {
  width:              80px;
}

td.delLink, #onlineTable td.infoLink {
  width:              80px;
}

#permanentTable td.infoLink, #pendingTable td.infoLink {
}

div.addtime h4 {
  margin-right:         5px;
}

div.addtime > div {
  margin-bottom:        10px;
}

div.addtime > div > h4, input, select {
  display:              inline;
}

div.addtime select {
  margin-right:         40px;
}

div#buttons {
  text-align:           center;
  word-spacing:         10px;
}

input.num_input {
  width:                2em;
}

#infoTable th {
  text-align:           left;
}
