<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <title>LiTHIUM Wireless Hotspot
    Admin (Logs)</title>
  <link rel="stylesheet" href="admin.css"/>
</head>
<a href="main.rb">Main</a>&nbsp;&nbsp;&nbsp;
<a href="logs.rb">Logs</a><br>
<br>

<div id="container">

<div dummy="$logsPane">
  <h2>Activity Logs</h2>
  <h4 dummy="$total_time">Total time served: 10 hours</h4>
  <table id="logsTable">
    <tbody>
      <tr dummy="$logs">
        <td dummy="$token" class="token">Token</td>
        <td dummy="$mac" class="mac">00:00:00:00:00:00</td>
        <td dummy="$added_time" class="time">10 hours added</td>
        <td dummy="$added_at" class="time">on 10th July</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
