<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <script language="javascript" type="text/javascript" src="admin.js"></script>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <title>Account Information</title>
  <link rel="stylesheet" href="admin.css"/>
</head>
<body>
  <h3>Information for user with token: "<span dummy="$token">token</span>"</h3>

  <table id="infoTable">
    <tbody>
      <tr>
        <th>Token:</th><td dummy="$token">Token</td>
      </tr>
      <tr>
        <th>MAC Address:</th><td dummy="$mac">Token</td>
      </tr>
      <tr>
        <th>Time Remaining:</th><td dummy="$time">Token</td>
      </tr>
      <tr>
        <th>Start Time:</th><td dummy="$start_time">Token</td>
      </tr>
      <tr>
        <th>End Time:</th><td dummy="$end_time">Token</td>
      </tr>
      <tr>
        <th>Current State:</th><td dummy="$state">Token</td>
      </tr>
    </tbody>
  </table>
  <div id="buttons">
    <input type="button" onclick="javascript:window.close ()" value="Close Window"/>
  </div>
</html>
