<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

  <meta http-equiv="cache-control" content="no-cache">
  <title>Lithium Wireless Hotspot</title>


</head>



<body>

<br>

<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">

  <tbody>

    <tr>

      <td><img style="width: 150px; height: 126px;" alt="lithium logo" src="../images/lithium.jpg"></td>

      <td style="text-align: left;">
      <h1>Welcome to the Arlberg</h1>
      <h1>Wireless Hotspot</h1>

      </td>

    </tr>

  </tbody>
</table>

<span style="font-weight: bold;"><br>

</span>
<h2>Please remember the token <span style="color: rgb(0, 153, 0);" dummy="$token">TestToken</span>&nbsp;&nbsp;</h2>

If you would like to connect to the internet via the arlberg wireless network <br>
please remember this token and proceed to reception
to pay for your internet time. <br>
After paying, click the link below or
navigate to another site. <br>
<br>

<a href="http://www.theage.com.au">click here to start
browsing</a>
</body>
</html>
